#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
    background: linear-gradient(to bottom right, #1e3c72, #2a5298, #4c1d95);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}